@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@700&family=Roboto:ital,wght@0,500;1,400&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,500;1,400&family=Satisfy&display=swap');
/* -------------------
Common Styles/Utilities
---------------------- */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header, main{
    display: flex;
    justify-content: center;
}
.container{
    width: 80vw;
    margin-top: 30px;
}
/* -----------------------
Banner Styles
------------------------ */
.banner{
    color: white;
    border-radius: 15px;
    background-color: rgb(23, 24, 23);
    display: flex;
}
.half-width{
    width: 50%;
}
.banner-info{
    padding-left: 50px;
    padding-top: 50px;
}
.banner-info a{
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 10px;
}
.banner-image{
    padding-left: 50px;
    padding-top: 50px;
}
